/* General styling */
:root {
  --col-main: rgb(196 27 27);
  --col-main2: rgb(203, 72, 72);
  --col-main3: rgb(250, 188, 188);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #333;
}

h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

.card {
  background-color: #fff;
  padding: 6px;
  margin-bottom: 20px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* margin: 0 auto 20px; */
}

/* Form styling */
form {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: 0 auto 20px;
}

label {
  display: block;
  font-size: 1em;
  margin-bottom: 5px;
}

select,
input[type="text"],
input[type="number"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1em;
  box-sizing: border-box;
}

button[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: var(--col-main);
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1em;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: var(--col-main2);
}

/* Table styling */
table {
  /* width: 100%; */
  border-collapse: collapse;
  font-size: 1em;
  text-align: left;
  /* for colum highlighting */
  overflow: hidden;
  position: relative;
  background-color: #dddddd;
  z-index: 0;
  border-radius: 16px;
}

table td {
  text-align: center;
}

table th,
table td {
  padding: 9px 12px;
  border: 3px solid white;
}

table th {
  background-color: var(--col-main);
  color: white;
}

thead tr {
  background-color: var(--col-main);
}

th.rotate {
  height: 140px;
  white-space: nowrap;
  width: 25px;

  > div {
    transform: translate(0%, 45px) rotate(-90deg);
    width: 25px;
  }
}

table tr:hover {
  background-color: var(--col-main3);
}

/* colum hover */
td,
th {
  position: relative;
}

td:hover::after {
  content: "";
  position: absolute;
  background-color: var(--col-main3);
  left: 0;
  top: -5000px;
  height: 10000px;
  width: 100%;
  z-index: -1;
}

/* Responsive design */
@media (max-width: 600px) {
  form,
  table {
    width: 100%;
  }
}
